* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 0;
  background-color: #000;
}

.maze-container {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  background-color: #000;
  position: relative;
  /* Calculate square cell size based on smaller dimension */
  --cell-size: min(calc(100vw / 32), calc(100vh / 28));
  width: calc(var(--cell-size) * 32);
  height: calc(var(--cell-size) * 28);
  margin: auto;
}

.maze-row {
  display: flex;
  width: 100%;
  height: var(--cell-size);
}

.maze-cell {
  width: var(--cell-size);
  height: var(--cell-size);
  box-sizing: border-box;
}

.maze-cell.wall {
  background-color: #35063E;
  /* border: 1px solid #000000; */
}

.maze-cell.empty {
  background-color: #800080;
}

.player {
  position: absolute;
  --cell-size: min(calc(100vw / 32), calc(100vh / 28));
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: #ffeb3b;
  border-radius: 50%;
  z-index: 10;
  /* Remove transition - we're using requestAnimationFrame for smooth movement */
  will-change: transform, left, top;
  box-shadow: 0 0 10px rgba(255, 235, 59, 0.5);
}
